/* Settings Styling */
.settings-container {
  /* margin-top: -21px; */
  width: 100%;
}

.settings-content {
  margin-top: 1px;
  background-color: #bbd5ed;
  color: rgb(97, 97, 97);
  padding: 10px 10px;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 10px;
}

.large-settings-box {
  margin-bottom: 20px;
}

.large-settings-title {
  font-size: 1.75rem;
}

.small-settings-title {
  font-size: 1.5rem;
}

.sub-settings-container {
  display: flex;
  flex-wrap: wrap;
}

.sub-setting-item {
  margin-left: 50px;
  margin-top: 5px;
  background-color: rgb(233, 227, 212);
}

.small-settings-box {
  padding: 10px 10px;
  border-radius: 5%;
}

.small-settings-box ul {
  list-style: none;
  font-size: 1.3rem;
}

.small-settings-box ul li {
  margin-top: 5px;
}

.settings-input-box {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.settings-checkbox {
  transform: scale(1.1);
  margin-right: 10px;
}

.card-object {
  background-color: rgb(233, 227, 212);
  border-radius: 3px;
  margin: 5px 5px;
  padding: 7px 5px;
}

.card-object-title {
  font-size: 120%;
}

.prop-group {
  display: flex;
  align-items: center;
}

.card-property {
  background-color: rgb(223, 195, 126);
  border-radius: 3px;
  padding: 7px 5px;
  margin: 10px;
}

.card-property-title {
  font-size: 100%;
}

.sub-prop-group {
  display: flex;
  align-items: center;
}

.card-sub-property {
  background-color: rgb(150, 182, 218);
  border-radius: 3px;
  padding: 7px 5px;
  margin: 15px;
}
