/* Settings Styling */
.settings-container {
  width: 100%;
}

.settings-content {
  margin-top: 1px;
  background-color: #bbd5ed;
  color: rgb(97, 97, 97);
  padding: 10px 10px;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 10px;
}

.settings-content h1 {
  font-size: 150%;
  text-align: center;
}

.settings-checkbox {
  transform: scale(1.1);
  margin-right: 10px;
}

.card-object {
  background-color: rgb(233, 227, 212);
  border-radius: 3px;
  margin: 20px;
  padding: 10px 10px;
}

.card-object-title {
  font-weight: 600;
  font-size: 160%;
}

.prop-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  margin: 0 12px;
}

.card-property {
  background-color: rgb(223, 195, 126);
  border-radius: 3px;
  padding: 10px 10px;
  margin: 10px;
  flex: 1;
  max-width: 300px;
}

.card-property-title {
  font-size: 150%;
  font-weight: 600;
}

.sub-prop-group {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.card-sub-property {
  background-color: rgb(150, 182, 218);
  border-radius: 3px;
  padding: 10px 30px;
  margin: 15px;
  min-width: 150px;
  width: 100%;
}

.card-sub-property-title {
  font-weight: 600;
  font-size: 140%;
}

.card-input-ul {
  list-style: none;
}

.card-input-ul li {
  margin: 5px 0;
}

.card-input-label {
  padding-left: 5px;
}
