/* Term styling */

.card {
  background-color: rgb(253, 253, 253);
  font-weight: 300;
  margin-bottom: 30px;
  padding: 10px 10px;
  /* border: 1px solid rgb(217, 241, 255); */
  /* box-shadow: 2px 2px 5px 2px #929292; */
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  flex-grow: 2;
  display: flex;
  align-items: center;
}

.term-title-small {
  font-size: 60%;
}
.term-title-medium {
  font-size: 80%;
}
.term-title-large {
  font-size: 120%;
}

.card .card-header h1 {
  display: inline-block;
  font-size: 250%;
}

.quick-def {
  display: inline-block;
  padding: 0 25px;
}

.term-quick-def-small {
  font-size: 80%;
}
.term-quick-def-medium {
  font-size: 100%;
}
.term-quick-def-large {
  font-size: 120%;
}

.card .quick-def h3 {
  font-size: 200%;
  font-weight: 300;
  font-style: italic;
}

.del-term-btn {
  align-self: flex-start;
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-size: 180%;
  padding: 15px 10px;
}

.card-container .term-container {
  padding-bottom: 20px;
}

.term-def-small {
  font-size: 80%;
}

.term-def-medium {
  font-size: 100%;
}

.term-def-large {
  font-size: 120%;
}

.card h2 {
  padding-left: 20px;
  font-size: 150%;
  font-weight: 200;
  font-style: italic;
}

.card p {
  font-size: 125%;
  padding-left: 40px;
  padding-top: 5px;
  line-height: 125%;
}
