/* Term styling */

.card {
  background-color: rgb(253, 253, 253);
  font-weight: 300;
  padding: 10px 10px;
  margin: 0 auto;
  margin-bottom: 30px;

  /* border: 1px solid rgb(217, 241, 255); */
}

.card-size-small {
  max-width: 600px;
}
.card-size-medium {
  max-width: 850px;
}
.card-size-large {
  max-width: 1180px;
}
.card-size-large {
  width: 100%;
}

.card-header {
  margin: 0 10px;
  flex-grow: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.term-title-small {
  font-size: 120%;
}
.term-title-medium {
  font-size: 140%;
}
.term-title-large {
  font-size: 160%;
}

.card-drop-btn {
  border: none;
  padding: 0 5px;
  margin-right: 5px;
  cursor: pointer;
  color: #003153;
  background-color: transparent;
  transition: 0.5s all;
}

.card-drop-btn i {
  font-size: 200%;
}

.card-arrow-down {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.card-arrow-down.open-card {
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}

.quick-def {
  font-style: italic;
  font-weight: 300;
  margin-left: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.term-quick-def-small {
  font-size: 120%;
}
.term-quick-def-medium {
  font-size: 140%;
}
.term-quick-def-large {
  font-size: 160%;
}

.card .quick-def h3 {
  font-size: 200%;
  font-weight: 300;
  font-style: italic;
}

.del-term-btn {
  align-self: flex-start;
  margin-left: auto;
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-size: 180%;
  padding: 0px 10px;
}

.card-container {
  padding: 10px 20px;
}

.term-container {
  padding-bottom: 20px;
}

.term-def-small {
  font-size: 70%;
}

.term-def-medium {
  font-size: 90%;
}

.term-def-large {
  font-size: 100%;
}

.interior-term-title {
  font-weight: 300;
  font-size: 150%;
}

.term-container h2 {
  font-size: 150%;
  font-weight: 200;
  font-style: italic;
}

.card p {
  font-size: 125%;
  padding-left: 20px;
  padding-top: 5px;
  line-height: 125%;
}
