/* App Styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gelasio", serif;
  font-size: 15px;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-color: #41a6ce;
  /* 41a6ce */
  /* fff0d0 */
  padding-bottom: 200px;
}

.row {
  max-width: 80%;
  margin: 0 auto;
}

.visible-element {
  display: block;
}

.hidden-element {
  display: none;
}

/* Section: Title */

.site-title {
  text-align: center;
  padding-top: 50px;
  max-width: 750px;
}

.site-title h1 {
  color: #ffffff;
  font-size: 300%;
  font-weight: 300;
}
.site-title h4 {
  margin-top: 10px;
  color: #e0e0e0;
  font-size: 120%;
  font-style: italic;
}

/* Section: Search Box */

.search-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* justify-content: center; */
  max-width: 900px;
  margin-bottom: 40px;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  /* margin-bottom: 100px; */
  width: 80%;
  max-width: 750px;
}

.form-elements {
  display: flex;
  width: 100%;
  justify-content: center;
}

.term-input {
  background-color: white;
  padding: 10px 20px;
  flex-grow: 2;
  font-size: 200%;
  width: 100%;
  height: 100%;
  border: none;
}

.term-input:focus {
  outline: none;
}

.search-btn {
  border: none;
  /* background-color: rgb(253, 171, 65); */
  background-color: #f5cb5c;
  color: rgb(44, 44, 44);
  padding: 0 10px;
  font-size: 140%;
  cursor: pointer;
}

.err-msg {
  background-color: #cecece;
  margin: 10px 10px;
  padding: 10px;
  text-align: center;
  font-size: 140%;
}

.alt-term {
  cursor: pointer;
  outline: none;
  font-size: 120%;
  border: none;
  background-color: transparent;
  color: rgb(115, 178, 221);
}

.alt-term:active {
  color: rgb(132, 203, 250);
}

.search-btn-group {
  display: flex;
  justify-content: space-evenly;
  max-width: 750px;
  width: 80%;
  margin: 20px 0;
}

.menu-btn {
  align-self: flex-start;
  border: none;
  cursor: pointer;
  /* background-color: #98dfaf; */
  background-color: #b5e2fa;
  /* color: rgb(97, 97, 97); */
  /* color: rgb(68, 68, 68); */
  color: #5a564d;
  padding: 10px 10px;
  font-size: 135%;
  border-radius: 5%;
}

/* Section: Term and Definition Display */
/* .section-searched-list {
} */

.searched-list-container {
  padding-bottom: 30px;
}

/* Section: Footer */
.section-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
