/* App Styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

html {
  font-family: "Gelasio", serif;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-color: #41a6ce;
  /* 41a6ce */
  /* fff0d0 */
  padding-bottom: 200px;
}

.row {
  max-width: 80%;
  margin: 0 auto;
}

.visible-element {
  display: block;
}

.hidden-element {
  display: none;
}

/* Section: Title */

.title-section {
  padding-top: 160px;
  max-width: 750px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
}

.title-section h1 {
  color: #ffffff;
  font-size: 400%;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
}
.title-section h4 {
  color: #e0e0e0;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 145%;
  font-size: 120%;
  max-width: 600px;
  font-family: Montserrat, sans-serif;
}

/* Section: Search Box */

.search-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* justify-content: center; */
  max-width: 900px;
  width: 80%;
  margin-bottom: 40px;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 80%;
  max-width: 750px;
}

.form-elements {
  display: flex;
  width: 100%;
  justify-content: center;
}

.term-input {
  border-radius: none;
  background-color: white;
  padding: 10px 20px;
  flex-grow: 2;
  font-size: 180%;
  width: 100%;
  letter-spacing: 0.5px;
  height: 50px;
  font-family: Montserrat, sans-serif;
  border: none;
  border-radius: 20px 0px 0px 20px;
}

.term-input:focus {
  outline: none;
}

.btn {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
}

.search-btn {
  border: none;
  background-color: #f5cb5c;
  color: rgb(44, 44, 44);
  font-family: Montserrat, sans-serif;
  padding: 0 10px;
  font-size: 140%;
  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 0px 20px 20px 0px;
}

.search-btn:hover {
  background-color: #f0b411;
}

.search-btn-mobile {
  display: none;
}

.search-btn-mobile i {
  font-size: 130%;
}

.err-msg {
  background-color: #cecece;
  margin: 10px 10px;
  padding: 10px;
  text-align: center;
  font-size: 140%;
}

.alt-term {
  cursor: pointer;
  outline: none;
  font-size: 120%;
  border: none;
  background-color: transparent;
  color: rgb(115, 178, 221);
}

.alt-term:active {
  color: rgb(132, 203, 250);
}

.search-btn-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 750px;
  width: 80%;
  margin-top: 30px;
}

.menu-btn {
  border: none;
  cursor: pointer;
  background-color: #b5e2fa;
  font-family: Montserrat, sans-serif;
  color: #5a564d;
  margin: 0 5px;
  padding: 7px 15px;
  font-size: 120%;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.menu-btn:hover {
  background-color: #9cc3d6;
}

/* .menu-btn:focus {
  background-color: #f5cb5c;
} */

.menu-btn:active {
  background-color: #f5cb5c;
}

.btn-highlight {
  background-color: #f5cb5c;
}

.btn-content-container {
  width: 100%;
  margin-top: 20px;
}

.btn-content {
  background-color: #bbd5ed;
  color: rgb(97, 97, 97);
  font-size: 1.5rem;
  border-radius: 10px;
  width: 100%;
}

/* Delete Terms */
.del-term-container {
  display: flex;
  flex-direction: column;
}

.term-del-btn-group {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.confirm-del {
  background-color: rgb(253, 83, 83);
  transition: background-color 0.5s;
}

.confirm-del:hover {
  background-color: rgb(255, 133, 133);
}

.confirm-del:active {
  background-color: rgb(255, 133, 133);
}

.exit-del {
  background-color: rgb(206, 206, 206);
  transition: background-color 0.5s;
}

.exit-del:hover {
  background-color: rgb(231, 230, 230);
}

/* Section: Term and Definition Display */
/* .section-searched-list {
} */

.searched-list-container {
  padding-bottom: 30px;
}

/* Section: Footer */
.section-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
